// Masthead

.masthead {
  background-color: inherit;
  left: 0;
  padding: 1em 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  h1 {
    font-size: 1.4em;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;

    @include breakpoint(md) {
      display: inline;
      float: left;
    }
  }
}

.social-links {
  margin: 0;
  padding: 3px 0 0 0;
  text-align: center;

  @include breakpoint(md) {
    text-align: right;
  }

  li {
    display: block;
    line-height: 0.9em;
    margin: 0 6px;
    padding: 5px 0;

    @include breakpoint(md) {
      display: inline-block;
    }
  }
}
